/*
YELLOW: febb1a
GUNMETAL: 0e1a26
*/

@font-face {
    font-family: 'dubielplainregular';
    src: url('webfonts/Dubiel-webfont.eot');
    src: url('webfonts/Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Dubiel-webfont.woff') format('woff'),
         url('webfonts/Dubiel-webfont.ttf') format('truetype'),
         url('webfonts/Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family: "Century Gothic";
  src: url('webfonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Century Gothic Bold";
  src: url('webfonts/CenturyGothicBold.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #febb1a;
  text-shadow: 2px 2px #FCFCFC;
  font-weight: bold;
}

.container{
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.left{
  display: flex;
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

@media only screen and (max-width: 800px){
  .left{
    display: none;
  }
}

.left-small{
  display: flex;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px){
  .left-small{
    display: none;
  }
}

.leftcontainer{
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
}

.left-smallcontainer{
  width:100%;
  height: 100%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lefttop{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
}

.lefttop:hover{
  opacity: 0;
}

.header{
  position: static;
  font-family: "Century Gothic Bold", "Century Gothic", sans-serif;
  font-size: 20px;
  letter-spacing: .35em;
  text-align: center;
  font-weight: bold;
  color: #011e15;
  min-width: 800px;
  padding: 0;
  display: block;
  transform: rotate(90deg);
}


.header-small{
  font-family: "Century Gothic Bold", "Century Gothic", sans-serif;
  font-size: 15px;
  letter-spacing: .35em;
  text-align: center;
  font-weight: bold;
  color: #011e15;
}

@media only screen and (max-width: 330px){
  .header-small{
    font-size: .8em;
  }
}

.leftbottom{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fcfcfc;
}

.leftbottom:hover{
  opacity: 100;
}

.menu{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.menu-small{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
}

.menusection{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.menusection:last-child{
  padding-bottom: 0px;
}

.menuitem{
  font-family: "Century Gothic", sans-serif;
  font-size: 13px;
  letter-spacing: .2em;
  text-align: left;
  color: #011e15;
  padding-bottom: 15px;
}

.menuitem_STAR{
  font-family: "Century Gothic", sans-serif;
  font-size: 13px;
  letter-spacing: .2em;
  text-align: left;
  color: #febb1a;
  padding-bottom: 15px;
}

@media only screen and (max-width: 800px){
  .menuitem{
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
  }
  .menusection{
    padding-bottom: 20px;
  }
}

.right{
  display: flex;
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: scroll;
    background-color: #fcfcfc;
}

@media only screen and (max-width: 800px){
  .right{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
  }
}

.rightcontainer{
  width: 100%;
  height: 100%;
  background-color: #febb1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightimages{
  width: 100%;
  height: auto;
  background-color: #fcfcfc;
  display: flex;
}

.textcontainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.caroline{
  width: auto;
  height: 47%;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.markusen{
  width: auto;
  height: 47%;
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.half{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.letter{
  font-family: "dubielplainregular";
  font-size: 205px;
  color: #fcfcfc;
  text-shadow: 8px 8px #011e15;
}

@media only screen and (max-width: 600px){
  .letter{
    font-size: 200px;
  }
}

@media only screen and (max-width: 380px){
  .letter{
    font-size: 150px;
  }
}

.container_images{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image{
  width: 100%;
  height: auto;
  padding: 50px 0px 50px 0px;
}

@media only screen and (max-width: 600px){
  .image{
    padding: 25px 0px 25px 0px;
  }
}

img{
  width: 100%;
  height: auto;
}

.getintouch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;

}

.body{
  font-family: "Century Gothic", sans-serif;
  font-size: 35px;
  letter-spacing: .2em;
  text-align: left;
  color: #011e15;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.2em;
}

.email{
  font-family: "Century Gothic Bold", "Century Gothic", sans-serif;
  font-size: 23px;
  letter-spacing: .15em;
  text-align: left;
  color: #fcfcfc;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.downloadresume{
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  letter-spacing: .15em;
  text-align: left;
  color: #011e15;

  text-align: center;

}

@media only screen and (max-width: 600px){
  .body{
    font-size: 1.5em;
  }
  .email{
    font-size: 1em;
    text-shadow: 2px 2px #011e15;
  }
  .downloadresume{
    font-size: .9em;
  }
}

@media only screen and (max-width: 330px){
  .email{
    font-size: .9em;
    text-shadow: 1.5px 1.5px #011e15;
  }
  .downloadresume{
    font-size: .9em;
  }
}

.downloadlink{
  text-decoration: none;
  color: inherit;
}

.downloadlink:hover{
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-shadow: none;
}

.container_blurb{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

.information{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.blurb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.bigblurb{
  font-family: "Century Gothic", sans-serif;
  font-size: 35px;
  letter-spacing: .2em;
  text-align: center;
  color: #f24000;
  width: 70%;
  padding-top: 5px;
  line-height: 1.2em;
}

.weeblurb{
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  letter-spacing: .1em;
  text-align: center;
  color: #011e15;
  width: 70%;
}

@media only screen and (max-width: 600px){
  .bigblurb{
    font-size: 1.2em;
    width: 90%;
  }
  .weeblurb{
    font-size: .8em;
    width: 90%;
  }
}

.blurblink{
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

.blurblink:hover{
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-shadow: none;
}
